<h1>Усі автомобілі</h1>

<ul>
  {% for car in page_obj %}
    <li>
      {{ car.brand }} {{ car.model }} — {{ car.price_per_day }} грн/день
      <a href="{% url 'car_detail' car.id %}">Детальніше</a>
      <a href="{% url 'rent_car' %}">Орендувати авто</a>
    </li>
  {% empty %}
    <li>Автомобілі відсутні</li>
  {% endfor %}
</ul>

<div class="pagination">
  <span>Сторінка {{ page_obj.number }} з {{ page_obj.paginator.num_pages }}</span>

  {% if page_obj.has_previous %}
    <a href="?page=1">Перша</a>
    <a href="?page={{ page_obj.previous_page_number }}">‹</a>
  {% endif %}

  {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
      <strong>{{ num }}</strong>
    {% elif num >= page_obj.number|add:"-2" and num <= page_obj.number|add:"2" %}
      <a href="?page={{ num }}">{{ num }}</a>
    {% endif %}
  {% endfor %}

  {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">›</a>
    <a href="?page={{ page_obj.paginator.num_pages }}">Остання</a>
  {% endif %}
</div>
